

 body {
  background: url("../img/ThankYou.png") no-repeat left top;
  background-size: 100%;
 /* background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
